header{
    background-color: rgb(26, 77, 97);
}
/* Clase para el fondo del header */
.bg-herovalle {
     background-color: rgb(26, 77, 97); /* El color verde de tu imagen */
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Ajuste para que los títulos no se desborden en pantallas pequeñas */
h1 {
    word-wrap: break-word;
    hyphens: auto;
}

/* Si la imagen sigue siendo muy grande en celular */
.avatar-circular {
    width: 200px; /* Ajusta según prefieras */
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.contenedor{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-left: 20px;
    background-color: rgb(90, 129, 134);
}
.contenedor-habilidades {  
  border-radius: 15px;      
  margin: 2px;                 
  padding: 8px 8px 8px -2px;           
  background-color: rgb(90, 129, 134);
  max-width: 1000px;
}

/* secciones */
.iconos{
    display: flex;
    padding-bottom: 25px;
}

.avatar-circular {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid rgb(58, 78, 83);
}

aside{
    display: flex;
    justify-content: space-between;
}

/* Iconos */
.html svg{
    width: 60px;
    height: 60px;
}

.css svg{
    width: 60px;
    height: 60px;
}

.bootstrap svg{
    width: 60px;
    height: 60px;
}

.git svg{
     width: 60px;
    height: 60px;
}

.github svg{
     width: 60px;
    height: 60px;
}
/* portafolio */

.custom-img {
  width: 200px;
  height: 200px;
  object-fit: cover; /* Evita que la imagen se deforme */
  margin: 15px auto 0; /* Centra la imagen dentro de la card */
  display: block;
}

/* Efecto de movimiento y sombra */
.custom-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.custom-card:hover {
  transform: translateY(-10px); /* Movimiento hacia arriba */
  box-shadow: 0 10px 20px rgba(0,0,0,0.15); /* Sombra para dar profundidad */
  cursor: pointer;
}

/* Contacto.html */
.custom-contact-card {
  border-radius: 20px !important; /* Más redondeado para combinar con el tamaño */
  margin: 2px;
  border: 1px solid #eee;
  box-shadow: 0 15px 35px rgba(0,0,0,0.1);
}

/* Estilizamos los recuadros (inputs y textarea) */
.custom-input {
  border: 2px solid #e9ecef 
  padding: 1.2rem; 
  font-size: 1.1rem; 
  transition: all 0.3s ease;
}

.custom-input:focus {
  border-color: #7952b3 
  background-color: #fdfbff;
  box-shadow: 0 0 10px rgba(121, 82, 179, 0.15);
}

.btn-lg {
  letter-spacing: 1px;
  border-radius: 12px;
  font-size: 1.2rem;
}
/* Secciones */
.habilidades{
    padding: 30px;
}

#educación{
 padding: 0 0 0 0;
}

/* Footer */
.footer {
    background-color: #808000; !important;/* El mismo gris oscuro de Bootstrap */
    color: #ffffff;
    text-align: center;
    padding: 30px 0;
    margin-top: 50px; /* Separa el footer del portafolio */
    border-top: 1px solid #343a40;
}

footer p {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
}

